<mtapp:setting id="lftp_enabled" label="<__trans phrase="LFTP enabled:">" hint="<__trans phrase="Hint enabled:">" show_hint="1">
    <input type="checkbox" name="lftp_enabled" id="lftp_enabled" value="1" <mt:if name="lftp_enabled">checked="checked"</mt:if>  class="cb" />
</mtapp:setting>
<mtapp:setting id="lftp_cmd" label="<__trans phrase="LFTP cmd:">" hint="<__trans phrase="Hint cmd:">" show_hint="1">
    <input type="text" name="lftp_cmd" id="lftp_cmd" value="<mt:var name="lftp_cmd" escape="html">" size="60" />
</mtapp:setting>
<mtapp:setting id="lftp_method" label="<__trans phrase="LFTP method:">" hint="<__trans phrase="Hint method:">" show_hint="1">
    <input type="text" name="lftp_method" id="lftp_method" value="<mt:var name="lftp_method" escape="html">" size="60" />
</mtapp:setting>
<mtapp:setting id="lftp_host" label="<__trans phrase="LFTP host:">" hint="<__trans phrase="Hint host:">" show_hint="1">
    <input type="text" name="lftp_host" id="lftp_host" value="<mt:var name="lftp_host" escape="html">" size="60" />
</mtapp:setting>
<mtapp:setting id="lftp_port" label="<__trans phrase="LFTP port:">" hint="<__trans phrase="Hint port:">" show_hint="1">
    <input type="text" name="lftp_port" id="lftp_port" value="<mt:var name="lftp_port" escape="html">" size="60" />
</mtapp:setting>
<mtapp:setting id="lftp_user" label="<__trans phrase="LFTP user:">" hint="<__trans phrase="Hint user:">" show_hint="1">
    <input type="text" name="lftp_user" id="lftp_user" value="<mt:var name="lftp_user" escape="html">" size="60" />
</mtapp:setting>
<mtapp:setting id="lftp_password" label="<__trans phrase="LFTP password:">" hint="<__trans phrase="Hint password:">" show_hint="1">
    <input type="password" name="lftp_password" id="lftp_password" value="<mt:var name="lftp_password" escape="html">" size="60" />
</mtapp:setting>
<mtapp:setting id="lftp_local_dir" label="<__trans phrase="LFTP local_dir:">" hint="<__trans phrase="Hint local_dir:">" show_hint="1">
    <input type="text" name="lftp_local_dir" id="lftp_local_dir" value="<mt:var name="lftp_local_dir" escape="html">" size="60" />
</mtapp:setting>
<mtapp:setting id="lftp_remote_dir" label="<__trans phrase="LFTP remote_dir:">" hint="<__trans phrase="Hint remote_dir:">" show_hint="1">
    <input type="text" name="lftp_remote_dir" id="lftp_remote_dir" value="<mt:var name="lftp_remote_dir" escape="html">" size="60" />
</mtapp:setting>
<mtapp:setting id="lftp_setting" label="<__trans phrase="LFTP setting:">" hint="<__trans phrase="Hint setting:">" show_hint="1">
    <input type="text" name="lftp_setting" id="lftp_setting" value="<mt:var name="lftp_setting" escape="html">" size="60" />
</mtapp:setting>
<mtapp:setting id="lftp_mirror_opt" label="<__trans phrase="LFTP mirror_opt:">" hint="<__trans phrase="Hint mirror_opt:">" show_hint="1">
    <input type="text" name="lftp_mirror_opt" id="lftp_mirror_opt" value="<mt:var name="lftp_mirror_opt" escape="html">" size="60" />
</mtapp:setting>